.Toast {
  animation: slideInFromTop 2s, fadeOut 4s 2s;
  -webkit-animation: slideInFromTop 2s, fadeOut 4s 2s;
  position: absolute;
  width: 370px;
  opacity: 0;

  
  .green {
    background-color: green;
  }

  .red {
    background-color: red;
  }

  @keyframes slideInFromTop {
    0% {
      opacity: 1;
      transform: translateY(-100%);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes slideInFromTop {
    0% {
      opacity: 1;
      transform: translateY(-100%);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  
}
